_version.py
*.pyo
*.pyc
*.swp
.DS_Store
*~
build/
dist/
forgery-py.sublime-project
forgery-py.sublime-workspace
docs/_build/
.idea/
tmp/
.coverage
TODO.rst
*.egg-info/
.mypy_cache/
.pytest_cache/
htmlcov/
__pycache__/
