# Package dependencies
PyYAML==5.1.2
Click==7.0
marshmallow==3.2.1
pydantic==1.0
trafaret==2.0.0

# Linters, formatters, security checkers
black==19.3b0
flake8==3.7.9
isort==4.3.21
mypy==0.740
safety==1.8.5

# Testing
pytest==5.2.2
pytest-cov==2.8.1

# Development tools
ipython==7.5.0
ipdb==0.12

# Docs
-r docs/requirements.txt
