# Package dependencies
PyYAML==6.0
Click==8.1.0
marshmallow==3.15.0
pydantic==1.9.0
trafaret==2.1.0

# Linters, formatters, security checkers
black==22.1.0
flake8==4.0.1
isort==5.10.1
mypy==0.942
safety==1.10.3

# Testing
pytest==7.1.1
pytest-cov==2.7.1

# Development tools
ipython==7.5.0
ipdb==0.12

# Docs
-r docs/requirements.txt
