# Package dependencies
PyYAML==5.3
Click==7.0
marshmallow==3.4.0
pydantic==1.4
trafaret==2.0.2

# Linters, formatters, security checkers
black==19.10b0
flake8==3.7.9
isort==4.3.21
mypy==0.761
safety==1.8.5

# Testing
pytest==5.3.5
pytest-cov==2.8.1

# Development tools
ipython==7.5.0
ipdb==0.12

# Docs
-r docs/requirements.txt
